[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".base16-shell"]
	path = .base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bin/PathPicker"]
	path = bin/PathPicker
	url = https://github.com/facebook/PathPicker.git

